<h1>Make your form here</h1>
<form class="" action="/pirates" method="post">

  <h2>Pirates</h2>
  <label for="pirate[name]">Name (4 to 8 characters):</label>
  <input type="text" id="pirate[name]" name="pirate[name]" required="required" >
  <label for="pirate[weight]">Weight (4 to 8 characters):</label>
  <input type="text" id="pirate[weight" name="pirate[weight]" required="required" >
  <label for="pirate[height]">Height (4 to 8 characters):</label>
  <input type="text" id="pirate[height]" name="pirate[height]" required="required" >

  <h2>1st Ship</h2>
  <label for="pirate[ships][][name]">Name (4 to 8 characters):</label>
  <input type="text" id="ship_name_1" name="pirate[ships][][name]" required="required" >
  <label for="pirate[ships][][type]">Weight (4 to 8 characters):</label>
  <input type="text" id="ship_type_1" name="pirate[ships][][type]" required="required" >
  <label for="pirate[ships][][booty]">Height (4 to 8 characters):</label>
  <input type="text" id="ship_booty_1" name="pirate[ships][][booty]" required="required" >


  <h2>2nd Ship</h2>
  <label for="pirate[ships][][name]">Name (4 to 8 characters):</label>
  <input type="text" id="ship_name_2" name="pirate[ships][][name]" required="required" >
  <label for="pirate[ships][][type]">Weight (4 to 8 characters):</label>
  <input type="text" id="ship_type_2" name="pirate[ships][][type]" required="required" >
  <label for="pirate[ships][][booty]">Height (4 to 8 characters):</label>
  <input type="text" id="ship_booty_2" name="pirate[ships][][booty]" required="required]" >

  <br><button type="submit" value="Submit">submit</button>
</form>
